# Setup env for SQL Server Database
SRC_DB_SERVER=localhost
SRC_DB_NAME=sample
DWH_DB_SERVER=localhost
DWH_DB_NAME=DWH
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_USER=sa
DB_PASSWORD="password"

# Config for Prefect
PREFECT_API_URL="API URL Prefect Cloud"
PREFECT_API_KEY="API Key Prefect Cloud"